@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthServer</title>
    <script src="~/scripts/vendor.bundle.js"></script>
    <script src="~/scripts/app.bundle.js"></script>
    <link href="~/Styles/vendor.bundle.css" rel="stylesheet" />
    <link href="~/Styles/app.bundle.css" rel="stylesheet" />
    @RenderSection("content", false)
</head>
<body>
    @RenderBody()
</body>
</html>
