@model AuthServer.Models.RegisterAccount.RegisterAccountViewModel

<main class="flex flex-columns flex-centered">
    <div id="register-account-container" class="container container-white container-shadow">
        <div class="text-center">
            <h1 class="text-center comic-font">Create an account</h1>
            <h6>(or <a href="@Url.Action("Index", "Logon")">Log in</a>)</h6>
        </div>
        <div>
            @using (Html.BeginForm("Index"))
            {
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" 
                           placeholder="Your email" data-bind="textInput: email, css: { 'input-error': !emailIsValid() }"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" data-bind="textInput: password"/>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" 
                           placeholder="Confirm Password" data-bind="textInput: confirmPassword, css: { 'input-error': !passwordsMatch() }" />
                </div>
                <br/>
                <button type="submit" class="btn btn-primary btn-block" data-bind="enable: formIsValid">Create Account</button>
                <hr/>
                <p>
                    By clicking Create Account, you indicate that you agree to the <a href="#">Terms & Condition</a>
                </p>
            }
        </div>
    </div>
</main>

<script type="text/javascript">
    var container = $("#register-account-container")[0];
    var viewModel = new window.ViewModels.RegisterAccount();
    ko.applyBindings(viewModel, container);
</script>